<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Recommender System </title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white{
        color:rgb(18, 17, 17)
    }
</style>

<body style="background-color:rgb(252, 252, 252)">

    <nav class="navbar" style="background-color:#a5e2c7">
        <a class="navbar-brand">Recommender System</a>
        <ul class="nav navbar-nav">
            <li><a href="/" style="font-size:15px">Home</a></li>
            <li><a href="/recommendm" style="font-size:15px">Recommend Movies</a></li>
            <li><a href="/recommendb" style="font-size:15px">Recommend Books</a></li>
            <li><a href="/trendb" style="font-size:15px">Trending Books</a></li>
            <li><a href="/about" style="font-size:15px">About</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:50px">Hello ! Welcome to recommender system projects.</h1>
            </div>
        </div>
    </div>
</body>
<footer align =center>
        
    <p>This page was created by <a href="http://rajshreevats.github.io//">Rajshree vatsa</a> &#128512.</p> 
    <a href="http://rajshreevats.github.io//"></a>
</footer>
</html>